name: Sphinx build and deploy

on:
  push:
    branches:
      - dev
permissions: read-all

jobs:
              
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      
      - name: Install Pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Install dependencies
        run: |
          pip install -r cuddly-spoon/docs/source/requirements.txt

      - name: Build HTML
        run: |
          sphinx-build -b html cuddly-spoon/docs/source cuddly-spoon/docs/_build/html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.REPO_GITHUB_TOKEN}}
          publish_dir: docs/_build/html
          publish_branch: gh-pages